*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#dff7df,#f8fff3,#eefbe8);
    overflow:hidden;
}

.container{
    width:90%;
    max-width:420px;
    background:#ffffff;
    padding:40px 30px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,0.12);
    animation:fadeIn 1.2s ease;
}

h3{
    color:#6b8f71;
    font-size:16px;
    margin-bottom:15px;
}

h1{
    color:#2e5d34;
    font-size:42px;
    margin-bottom:15px;
}

p{
    color:#56785d;
    font-size:18px;
    margin-bottom:35px;
}

button{
    background:#6aa84f;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:50px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    background:#4d8d38;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
html{
    scroll-behavior:smooth;
}

.start-btn{
    display:inline-block;
    text-decoration:none;
    background:#6aa84f;
    color:white;
    padding:16px 34px;
    border-radius:999px;
    font-size:18px;
    font-weight:600;
    transition:0.3s;
    white-space:nowrap;
}

.start-btn:hover{
    transform:scale(1.05);
}

.message{
   max-width:900px;
width:90%;
    margin:300px auto 120px auto;
    background:white;
    padding:40px;
    border-radius:25px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    text-align:center;
}

.message h2{
    color:#2f5d3b;
    margin-bottom:25px;
}

.message p{
    font-size:20px;
    max-width:600px;
    margin:20px auto;
    line-height:1.9;
    margin-bottom:18px;
}
